#customize-controls .control-section-kids-love .accordion-section-title:hover,
#customize-controls .control-section-kids-love .accordion-section-title:focus {
	background-color: #2f5dfb;
	color: #fff;
}

.control-section-kids-love .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
	background-color: #f0a93f;
	border-color: #f0a93f;
	color: #fff;
}

.rtl .control-section-kids-love .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}

li#accordion-section-kids-love h3.accordion-section-title {
    background-color: #2f5dfb;
    color: #fff;
}
