@{
    ViewBag.Title = "About";
}
<div class="title">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <p>*FIT5032 Assignment1*</p>
    <img srcset="/Content/HealthyLife-320.jpg 320w,
             /Content/HealthyLife-480.jpg 480w,
             /Content/HealthyLife.jpg 800w"
         sizes="(max-width: 320px) 280px,
            (max-width: 480px) 440px,
            800px"
         src="/Content/HealthyLife.jpg" alt="Healthy Life">
</div>

<style>
    
</style>