@{
    ViewBag.Title = "Contact";
}
<div class="contact" style="height:500px">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <address>
        Monash uni Caulfield campus<br />
        Qiwei Wang 28840836<br />
    </address>

    <address>
        <strong>Support:</strong>   <a href="qwan0032@student.monash.edu">qwan0032@student.monash.edu</a>
    </address>
</div>
<style>
   
</style>