@{
    ViewBag.Title = "Home Page";
}
<div style="height:150px"></div>
<div class="content" style="height:500px">
        <h1>Better Life</h1>
        <br>
        <p class="lead">Your personal dietitian.</p>
        <br><br><br><br>
        <p>
        <a href="http://www.nutritionaustralia.org/" class="btn btn-primary btn-lg">More information about nutrition &raquo;</a>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Tips")">Tips &raquo;</a>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Nutritions")">Nutritions &raquo;</a>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index","Comments")">Comments &raquo;</a>
    </p>
    </div>
<style>
    p {
    font-style:italic
    }
    h1 {
    font-family:Impact;
    font-size:70px;
    
    }
    .content {
    text-align:center;
    }
    .row {
        background: hsla(0,0%,100%,.5);
        width: 1136px;
        margin-left: 1px;
        border-radius: 10px;
    }


    .col-md-offset-4 {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .btn {
    background-color:transparent;
    border-color:white
    }
    
</style>
